<!DOCTYPE html>
<html>

<head>
    <link href="../header/header.css" rel="stylesheet">
    <link href="user.css" rel="stylesheet">
    <meta charset="utf-8" />
    <title>017 Glass Store</title>
</head>

<body>
    <div id="app">
        <div class="header">
            <div class="header" style="text-align: center;">
                <div class="block">
                    <a href="../principal/principal.html"> <img style="height: 100%; width: auto;" src="../images/logo_borderless.png"> </div>
                </a>

                <div class="block">
                    <div style="text-align: center;"> <input class="searchbar" type="search" placeholder="best glasses in the world"></div>
                    <ul style="padding-left: 0; margin-top: 0;" id="menu">
                        <a class="headera" href="../categories/category_sun1.html">ÓCULOS DE SOL</a>
                        <a class="headera" href="../categories/category_eyeglasses1.html">ÓCULOS DE GRAU</a>
                        <a class="headera" href="../categories/category_everyglass1.html">EVERGLASSES</a>
                    </ul>


                </div>

                <div class="block">
                    <div class="row3">
                        <a onclick="w3_open()">
                            <div class="colum3 fav"> </div>
                        </a>
                        <a href="../user/user_data.html">
                            <div class="colum3 person"></div>
                        </a>
                        <a href="">
                            <div class="colum3 cart"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-header" style="text-align: center;">
        </div>


        <div class="box">
            <a href="user_data.html" class="box-p" style="left: 2px;">Meus Dados</a>
            <hr class="white" style="top: 96px;">
            <a href="user_address.html" class="box-p" style="left: 2px; top: 98px;">Endereço</a>
            <hr class="white" style="top: 188px;">
            <a href="user_address.html" class="box-p" style="left: 2px; top: 186px;">Cobrança</a>
        </div>
        <div class="dados">
            <p class="page-header">Meu Perfil</p>
            <p class="meus-dados">Meus Dados</p>
            <hr class="black">
            <form @submit="checagem" method="post">
                <label for="endereco" class="nome" style="top: 375px;">Endereço:</label>
                <input v-model="endereco" required type="text" class="info" style="top: 375px;" type="text" id="endereco" name="endereco"><br><br>
                <label for="numero" class="nome" style="top: 427px">Número:</label>
                <input v-model="numero" required type="number" min="0" class=" info " style="top: 427px; " type="text " id="numero " name="numero "><br><br>
                <label for="complemento " class="nome " style="top: 479px ">Complemento:</label>
                <input v-model="complemento" required type="text" class="info " style="top: 479px; " type="text " id="complemento " name="complemento "><br><br>
                <label for="cep " class="nome " style="top: 531px ">CEP:</label>
                <input v-model="cep" @keyup.prevent.stop="completar" required pattern="\d{5}-\d{3}" type="text" class="info " style="top: 531px; " type="text " id="cep " name="cep "><br><br>
                <label for="estado " class="nome " style="top: 583px ">Estado:</label>
                <input v-model="estado" required type="text" class="info " style="top: 583px; " type="text " id="estado " name="estado "><br><br>
                <label for="estado" class="nome " style="top: 635px ">Cidade:</label>
                <input v-model="cidade" required type="text" class="info " style="top: 635px; " type="text " id="cidade " name="cidade "><br><br>
                <input class="edit " style="margin-top: -100px" type="submit" value="Editar Endereço">
            </form>
        </div>
    </div>
</body>

</html>
<script src="https://unpkg.com/vue"></script>
<script src="./user_address_forms.js ">
</script>