<!DOCTYPE html>
<html>

<head>
    <link href="../header/header.css" rel="stylesheet">
    <link href="produtos.css" rel="stylesheet">
    <meta charset="utf-8" />
    <title>017 Glass Store</title>
</head>

<body>


    <div class="box">
        <a href="admin_dados.html" class="box-p" style="left: 2px;">Meus Dados</a>
        <hr class="white" style="top: 96px;">
        <a href="produtos.html" class="box-p" style="left: 2px; top: 98px;">Gerenciar Produtos</a>
        <hr class="white" style="top: 188px;">
        <a href="vendas.html" class="box-p" style="left: 2px; top: 186px;">Gerenciar Vendas</a>
    </div>

    <div id="app">
        <div class="dados">
            <p class="page-header">Gerenciar Produtos</p>

            <div id="add">
                <p class="meus-dados">Adicionar Produto</p>
                <hr class="black">
                <p class="nome" style="top: 350px;">Nome:</p>
                <input v-model="alias" class="info" type="text" style="top: 350px;">
                <p class="nome" style="top: 402px;">Código do Modelo:</p>
                <input v-model="code" class="info" type="text" style="top: 402px;">
                <p class="nome" style="top: 454px;">Preço:</p>
                <input v-model="price" class="info" type="number" style="top: 454px;">
                <p class="nome" style="top: 506px;">Detalhes:</p>
                <textarea v-model="details" type="text" class="info" style="top: 506px;" cols="30" rows="3"></textarea>
                <p class="nome" style="top: 592px;">Armação:</p>
                <input v-model="format" type="text" class="info" style="top: 592px;">
                <p class="nome" style="top: 654px;">Tipo:</p>
                <input v-model="tipo" type="text" class="info" style="top: 654px;">
                <p class="nome" style="top: 716px;">Imagem:</p>
                <input v-on:change="onFileChange" class="info" style="top: 716px;" type="file">

                <a href="" v-on:click="add" id="add_button" class="edit" style="left: 1086px; top: 840px;">Adicionar Produto</a>

            </div>

            <div id="refresh">
                <p class="atualizar">Atualizar Produto</p>
                <hr class="black2">
                <p class="nome" style="top: 1030px;">Insira Código do Modelo:</p>
                <input v-model="code" class="info" style="top: 1030px;">
                <p class="nome" style="top: 1082px;">Atualizar Nome:</p>
                <input v-model="alias" class="info" style="top: 1082px;">
                <p class="nome" style="top: 1134px;">Atualizar Preço:</p>
                <input v-model="price" class="info" style="top: 1134px;">
                <p class="nome" style="top: 1186px;">Atualizar Detalhes:</p>
                <textarea v-model="details" class="info" style="top: 1186px;" cols="30" rows="3"></textarea>
                <p class="nome" style="top: 1262px;">Atualizar Armação:</p>
                <input v-model="format" class="info" style="top: 1262px;">
                <p class="nome" style="top: 1314px;">Atualizar Tipo:</p>
                <input v-model="tipo" class="info" style="top: 1314px;">
                <p class="nome" style="top: 1366px;">Atualizar Imagem:</p>
                <input v-on:change="onFileChange" class="info" style="top: 1366px;" type="file">

                <a href="" v-on:click="atualizar" class="edit" style="left: 1086px; top: 1490px;">Atualizar Produto</a>
            </div>


            <div id="data">
                <p class="dados">Dados do Produto</p>
                <hr class="black3">
                <p class="nome" style="top: 1690px;">Insira Código do Modelo:</p>
                <input class="info" style="top: 1690px;">
                <p class="nome" style="top: 1742px;">Nome:</p>
                <p class="info" style="top: 1742px;"></p>
                <p class="nome" style="top: 1794px;">Preço:</p>
                <p class="info" style="top: 1794px;"></p>
                <p class="nome" style="top: 1846px;">Detalhes:</p>
                <p class="info" style="top: 1846px;"></p>
                <p class="nome" style="top: 1922px;">Armação:</p>
                <p class="info" style="top: 1922px;"></p>
                <p class="nome" style="top: 1974px;">Tamanho:</p>
                <p class="info" style="top: 1974px;"></p>
                <p class="nome" style="top: 2026px;">Imagem:</p>
                <p class="info" style="top: 2026px;"></p>

                <a href="" class="edit" style="left: 1086px; top: 1715px;">Acessar Produto</a>
            </div>

            <div id="remove">
                <p class="remover">Remover Produto</p>
                <hr class="black4">
                <p class="nome" style="top: 2275px;">Insira Código do Modelo:</p>
                <input id="remove_code" class="info" style="top: 2275px;">
                <a href="" id="remove_button" class="edit" style="left: 1086px; top: 2300px; margin-bottom: 10vw;">Remover Produto</a>
            </div>

            <div class="lista" id="lista">
                <p class="listar">Lista de Produtos</p>
                <hr class="black5">
                <div class="itens" v-for="item in oculos">
                    <div>
                        Codigo do modelo = {{ item.code }} <br>
                        <img class="size" :src="item.img">
                        <br> Nome do modelo = {{ item.alias }}
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="header" style="position: fixed;">
        <div class="header" style="text-align: center;">
            <div class="block">
                <a href=""> <img style="height: 100%; width: auto;" src="../images/logo_borderless.png"> </div>
            </a>

            <div class="block">
                <div class="colum2"> <input class="searchbar" type="search" placeholder="best glasses in the world"></div>
                <a class="headera" href="../categories/category_sun1.html">ÓCULOS DE SOL</a>
                <a class="headera" href="../categories/category_eyeglasses1.html">ÓCULOS DE GRAU</a>
                <a class="headera" href="../categories/category_everyglass1.html">EVERGLASSES</a>
            </div>

            <div class="block">
                <div class="row3">
                    <a href="">
                        <div class="colum3 fav"></div>
                    </a>
                    <a href="../user/user_dados.html">
                        <div class="colum3 person"></div>
                    </a>
                    <a href="">
                        <div class="colum3 cart"></div>
                    </a>
                </div>


            </div>


        </div>


        <div class="sub-header" style="text-align: center;">
        </div>

    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="produtos.js"></script>
</body>

</html>