<!DOCTYPE html>
<html>

<head>
    <link href="../header/header.css" rel="stylesheet">
    <link href="login.css" rel="stylesheet">
    <meta charset="utf-8" />
    <title>017 Glass Store</title>


</head>


<body>
    <div id="app">
        <div class="col1" style="position: absolute;">
            
                <button v-on:click='create' style="margin-top: 50vw;">Criar</button>
                <p class="p1">Novo usuário</p>
                <p class="p2" style="margin-top: 68px;">Nome:</p>
                <input v-model="nome" required>
                <p class="p2" style="margin-top: 68px;">Sobrenome:</p>
                <input v-model="sobrenome" required>
                <p class="p2" style="margin-top: 68px;">E-mail:</p>
                <input v-model="email" required>
                <p class="p2" style="margin-top: 68px;">Senha:</p>
                <input v-model="senha" required type="password">
                <p class="p2" style="margin-top: 68px;">Confirmar Senha:</p>
                <input v-model="confirmar_senha" required type="password">
            
        </div>



        <div class="line"></div>

        <form @submit="checagem_login" method="post">
            <div class="col2" style="position: absolute;">
                <button  style="margin-top: 25vw;">Entrar</button>
                <p class="p1">Usuário Existente</p>
                <p class="p2" style="margin-top: 68px;">E-mail:</p>
                <input v-model="email_login" required>
                <p class="p2" style="margin-top: 68px;">Senha:</p>
                <input v-model="senha_login" required type="password">
            </div>
        </form>
    </div>


    <div  class="header" style="position: fixed;">
        <div  class="header" style="text-align: center;"> 
            <div class="block"><a href="../principal/principal.html"> <img style="height: 100%; width: auto;" src="../images/logo_borderless.png"> </div></a>
        
            <div  class="block">
            <div class="colum2"> <input class="searchbar" type="search" placeholder="best glasses in the world"></div>
            <a class="headera" href="../categories/category_sun1.html">ÓCULOS DE SOL</a>
            <a class="headera"  href="../categories/category_eyeglasses1.html">ÓCULOS DE GRAU</a>
            <a class="headera"  href="../categories/category_everyglass1.html">EVERGLASSES</a>
            
        
        
        </div>
        
            <div class="block">
                <div class="row3">
            <a href=""><div class="colum3 fav"></div></a>
            <a href="../login/login.html"><div class="colum3 person"></div></a>
            <a href="../cart/cart.html"><div class="colum3 cart"></div></a>
        </div>
        
        
            </div>
        
        
        </div>
        
        
        <div class="sub-header" style="text-align: center;">
        </div>
        
        </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="login.js">
    </script>

</body>

</html>