<!DOCTYPE html>
<html>

<head>
    <link href="principal.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <title>017 Glass Store</title>


</head>


<body>
    <div id="app">
        <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" id="mySidebar" style="display:none; width:25%; background-color: rgb(223, 223, 223);">
            <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close &times;</button>
            <div v-if="favs.length >0">
                <div v-for="item of favs" class="favs">
                    <div>
                        <h2>{{item.model}} </h2>
                        <img class="glassimg" :src="item.img">

                        <h3>{{item.price}}</h3>
                        <button v-on:click="addCart()">Add to Cart</button>
                        <button style="background-color: rgb(192, 192, 192);"><a href="" v-on:click="removeFav(item)">Remove</a></button>
                    </div>

                </div>

                <hr>
            </div>
            <div v-else> Nenhum item adicionado </div>
        </div>




        <div id="app">
            <div class="header">
                <div class="header" style="text-align: center;">
                    <div class="block">
                        <a href=""> <img style="height: 100%; width: auto;" src="../images/logo_borderless.png"> </div>
                    </a>

                    <div class="block">
                        <div style="text-align: center;"> <input class="searchbar" type="search" placeholder="best glasses in the world"></div>
                        <ul style="padding-left: 0; margin-top: 0;" id="menu">
                            <li><a class="headera" href="../categories/category_sun1.html">ÓCULOS DE SOL</a></li>
                            <li><a class="headera" href="../categories/category_eyeglasses1.html">ÓCULOS DE GRAU</a></li>
                            <li><a class="headera" href="../categories/category_everyglass1.html">EVERGLASSES</a></li>
                        </ul>


                    </div>

                    <div class="block">
                        <div class="row3">
                            <a onclick="w3_open()">
                                <div class="colum3 fav"> </div>
                            </a>
                            <a href="../login/login.html">
                                <div class="colum3 person"></div>
                            </a>
                            <a href="../cart/cart.html">
                                <div class="colum3 cart"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-header" style="text-align: center;">
            </div>

            <div class="slider" style="text-align: center;">
            </div>




            <div class="slidown" style="text-align: center; font-weight: bold; color: rgb(66, 66, 66);">Slide down to see more
            </div>


            <div class="galery">
                <h1>Promoções da Galeria </h1>

                <div v-for="item in glasses" class="glass">
                    <div>
                        <h2><a href="../product/glass.html"> {{item.model}} </a></h2>
                        <a href="../product/glass.html"><img class="glassimg" :src="item.img"></a>
                        <h3>{{item.alias}}</h3>
                        <h4>R$: {{item.price}}</h4>
                        <button v-on:click="addCart(item)">add To Cart</button>
                        <button v-on:click="fav(item)">WishList</button>
                    </div>
                </div>


            </div>
            <div class="footer">desenvolvido por: Marilene Garcia, Bruno Helou, Rafael Pinho</div>
        </div>
</body>

</html>
<script src="https://unpkg.com/vue"></script>
<script src="./principal.js">
</script>